<div>
	<h1>Chat</h1>
	<form action="" id="message-form">
		<input type="text" id="user-input" style="background-color: blue;" />

		<input type="text" id="chat-input" style="background-color: red;" />
		<button onclick="createProduct()">Submit</button>
	</form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>